* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #444;
  font-family: sans-serif;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1150px;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.box {
  width: 700px;
  height: 850px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 40% 100%;
}

.red-box {
  background-color: #f06666;
}

.blue-box {
  background-color: #3674b5;
}

.whitebox {
  width: 100%;
  height: 60%;
  background-color: #fff;
  border-radius: 70px 70px 0 0;
}

/* _____________________________________________________________*/

/* _________________________Rubriker____________________________*/

.text {
  margin-top: 100px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

h1 {
  color: #f3f3f3;
  font-family: "Rubik", serif;
  font-size: 40px;
  font-weight: 700;
}

quote {
  margin-top: 15px;
  font-size: 17px;
  color: #f3f3f3;
  font-family: "Rubik", serif;
}

h3 {
  margin-top: 10px;
  font-size: 22px;
  color: #f3f3f3;
  font-family: "Rubik", serif;
  font-weight: 550;
}

.docking-right {
  margin-top: 25px;
}

.rubrik-right {
  text-align: center;
  font-size: 44px;
}

/* _____________________________________________________________*/

/* ________________________White Box____________________________*/

.grid-left {
  display: grid;
  align-content: center;
}

.lines {
  margin-top: 80px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  font-family: "Rubik", serif;
  color: rgb(188, 188, 188);
  position: absolute;
}

/* _____________________________________________________________*/

/* ________________________FORM FIELD___________________________*/

.login-form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.input-username,
.input-password {
  display: block;
  border-bottom-color: #f06666a7;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 320px;
  font-size: 18px;
  color: rgba(152, 152, 152, 0.737);
  font-family: "Rubik", serif;
}

.input-username::placeholder {
  color: rgba(152, 152, 152, 0.737);
}

.forgot-password {
  position: relative;
  cursor: pointer;
  color: #f06666;
  margin-bottom: 20px;
}

.forgot-password:hover {
  font-weight: 600;
}

.forgot-password:active {
  color: #f06666;
}

.forgot-password::after {
  display: inline-block;
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 130px;
  height: 1px;
  border-top: solid #f06666 1px;
  top: 20px;
  left: 0;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 280px;
}

.login-btn {
  background-color: #fff;
  color: #f06666;
  font-family: "Rubik", serif;
  border: solid 1px #f06666;
  border-radius: 40px;
  padding: 5px 45px;
  font-size: 20px;
}

.login-btn:hover {
  color: white;
  border: solid 1px black;
  background-color: black;
  cursor: pointer;
}

.social-media-header {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.social-media-header p {
  color: rgb(188, 188, 188);
  font-size: 18px;
  font-family: "Rubik", serif;
}

/* _____________________________________________________________*/

/* ________________________FORM FIELD___________________________*/

.sign-form {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.sign-username,
.sign-email,
.sign-password,
.sign-confirm-password {
  display: block;
  border-bottom-color: #3674b5;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 320px;
  font-size: 14px;
  color: rgba(152, 152, 152, 0.737);
  font-family: "Rubik", serif;
}

.sign-username::placeholder,
.sign-email::placeholder {
  color: rgba(152, 152, 152, 0.737);
}

/* .email::after {
  display: inline-block;
  content: "";
  padding: 5px;
  padding-bottom: 3px;
  position: relative;
  text-align: center;
  color: blue;
  background-color: #ffffff;
  width: 350px;
  height: 1px;
  border-top: 1px solid #3674b5;
  top: 13px;
  left: -40px;
} */

.confirm-password::after {
  display: inline-block;
  content: "";
  padding: 5px;
  padding-bottom: 3px;
  position: relative;
  text-align: center;
  color: blue;
  background-color: #ffffff;
  width: 350px;
  height: 1px;
  border-top: 1px solid #3674b5;
  top: 13px;
  left: -135px;
}

.password-left::after {
  display: inline-block;
  content: "";
  padding: 5px;
  padding-bottom: 3px;
  position: relative;
  text-align: center;
  color: blue;
  background-color: #ffffff;
  width: 350px;
  height: 1px;
  border-top: 1px solid #3674b5;
  top: 13px;
  left: -72px;
}

.sign-in {
  justify-self: center;
  margin-top: 350px;
}

.sign-btn {
  margin-top: 30px;
  background-color: #fff;
  color: #3674b5;
  font-family: "Rubik", serif;
  border: solid 1px #3674b5;
  border-radius: 40px;
  padding: 5px 45px;
  font-size: 20px;
}

.sign-btn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  border: solid 1px black;
}

.contact {
  font-size: 15px;
  font-family: "Rubik", serif;
  color: #3674b5;
  justify-self: center;
  margin-top: 60px;
}

.contact::after {
  display: inline;
  content: "";
  padding: 5px;
  padding-bottom: 3px;
  position: relative;
  text-align: center;
  color: blue;
  background-color: #ffffff;
  width: 45px;
  height: 1px;
  border-top: 2px solid #3674b5;
  top: 22px;
  left: -55px;
}

.contact:hover {
  cursor: pointer;
}

.social-logos {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

img {
  height: 50px;
}

.micr {
  height: 98px;
}

.apple {
  height: 60px;
  margin-right: 10px;
}
